{% load static %}
{% load account_custom_tag %}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header mb-3">
                    <h2>User Details</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group mb-1">
                            <label class="form-label" for="first_name">First Name</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="first_name" class="form-control"
                                       name="first_name"
                                       disabled readonly
                                       value="{{ patient_id|get_patient:'first_name' }}">
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label class="form-label" for="last_name">Last Name</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="last_name" class="form-control"
                                       name="last_name"
                                       disabled readonly
                                       value="{{ patient_id|get_patient:'last_name' }}">
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label class="form-label" for="sex">Sex</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="sex" class="form-control"
                                       name="sex"
                                       disabled readonly
                                       value="{{ patient_id|get_patient:'sex' }}">
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label class="form-label" for="age">Age</label>
                            <div class="input-group input-group-merge">
                                <input type="text" id="age" class="form-control"
                                       name="age"
                                       disabled readonly
                                       value="{{ patient_id|get_patient:'age' }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="row justify-content-between">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header mb-3">
                    <h2>Advance filter</h2>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs my-1" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="fitbit-tab" data-toggle="tab" href="#fitbit"
                               role="tab" aria-controls="fitbit" aria-selected="true">Fitbit</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="withings-tab" data-toggle="tab" href="#withings" role="tab"
                               aria-controls="withings" aria-selected="false">Withings</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="fitbit" role="tabpanel"
                             aria-labelledby="fitbit-tab">
                            <form method="get" action="{% url 'website:filter' %}">
                                <input type="hidden" class="form_type" name="form_type" value="fitbit">
                                <div class="form-group mb-1">
                                    <label for="patient_id" class="mb-1">Patient Name</label>
                                    <select class="form-control" name="patient_id" id="patient_id">
                                        {% for user in request.user|get_all_users %}
                                            {% if user.user_profile.first_name and user.user_profile.last_name %}
                                                <option {% if patient_id == user.id|stringformat:"i" %}
                                                    selected {% endif %}
                                                    value="{{ user.id }}">{{ user.user_profile.first_name }} {{ user.user_profile.last_name }}</option>
                                            {% else %}
                                                <option {% if patient_id == user.id|stringformat:"i" %}
                                                    selected {% endif %}
                                                    value="{{ user.id }}">user
                                                    id: {{ user.id }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="oxygen_range" class="mb-1">Oxygen Result Date</label>
                                    <select class="form-control" name="oxygen_range" id="oxygen_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="sleep_range" class="mb-1">Sleep Result Date</label>
                                    <select class="form-control" name="sleep_range" id="sleep_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="spo2_range" class="mb-1">Spo2 Result Date</label>
                                    <select class="form-control" name="spo2_range" id="spo2_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="heart_rate_range" class="mb-1">Heart-Rate Result Date</label>
                                    <select class="form-control" name="heart_rate_range" id="heart_rate_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">filter</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="withings" role="tabpanel" aria-labelledby="withings-tab">
                            <form method="get" action="{% url 'website:filter' %}">
                                <input type="hidden" class="form_type" name="form_type" value="witings">
                                <div class="form-group mb-1">
                                    <label for="patient_id" class="mb-1">Patient Name</label>
                                    <select class="form-control" name="patient_id" id="patient_id">
                                        {% for user in request.user|get_all_users %}
                                            {% if user.user_profile.first_name and user.user_profile.last_name %}
                                                <option {% if patient_id == user.id|stringformat:"i" %}
                                                    selected {% endif %}
                                                    value="{{ user.id }}">{{ user.user_profile.first_name }} {{ user.user_profile.last_name }}</option>
                                            {% else %}
                                                <option {% if patient_id == user.id|stringformat:"i" %}
                                                    selected {% endif %}
                                                    value="{{ user.id }}">user
                                                    id: {{ user.id }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="weight_range" class="mb-1">Weight Result Date</label>
                                    <select class="form-control" name="weight_range" id="weight_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="fat_free_mass_range" class="mb-1">Fat-Free-Mass Result
                                        Date</label>
                                    <select class="form-control" name="fat_free_mass_range"
                                            id="fat_free_mass_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-1">
                                    <label for="fat_ratio_range" class="mb-1">Fat-Ratio Result Date</label>
                                    <select class="form-control" name="fat_ratio_range" id="fat_ratio_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="fat_mass_weight_range" class="mb-1">Fat-Mass-Weight Result
                                        Date</label>
                                    <select class="form-control" name="fat_mass_weight_range"
                                            id="fat_mass_weight_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="muscle_mass_range" class="mb-1">Muscle-Mass Result Date</label>
                                    <select class="form-control" name="muscle_mass_range"
                                            id="muscle_mass_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="bone_mass_range" class="mb-1">Bone Mass Result Date</label>
                                    <select class="form-control" name="bone_mass_range" id="bone_mass_range">
                                        <option value="today">today</option>
                                        <option value="this_week">this week</option>
                                        <option value="this_month">this month</option>
                                        <option value="all_time">all time</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">filter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
</div>
<script>
    $(document).ready(function () {
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
            // Update the value of all hidden input fields with class "form_type" based on the chosen tab
            var formType = $(this).attr('id') === 'fitbit-tab' ? 'fitbit' : 'withings';
            $('.form_type').val(formType);
        });
    });
</script>